@page
@model Web_PizzaShop.Pages.Public.MenuModel
@Html.AntiForgeryToken()
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pizza Shop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

	<link rel="stylesheet" href="~/css/ionicons.min.css">

	<link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/css/jquery.timepicker.css">


	<link rel="stylesheet" href="~/css/flaticon.css">
	<link rel="stylesheet" href="~/css/icomoon.css">
	<link rel="stylesheet" href="~/css/style.css">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
	<section class="home-slider owl-carousel img" style="background-image: url(images/bg_3.jpg);">

		<div class="slider-item" style="">
			<div class="overlay"></div>
			<div class="container">
				<div class="row slider-text justify-content-center align-items-center">

					<div class="col-md-7 col-sm-12 text-center ftco-animate">
						<h1 class="mb-3 mt-5 bread">Our Menu</h1>
						<p class=""><span class="mr-2"><a href="/">Home</a></span> <span>Menu</span></p>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<h2 class="mb-4">Our Menu</h2>
				</div>
			</div>
		</div>
		<div class="container-wrap">
    <div class="row">
	@foreach(var pizza in @Model._pizzaViewModels){
        <div id="pizza-@pizza.Id"  class="col-lg-4 ftco-animate center">
			<div class="services-wrap">
				<img src="data:image/jpeg;base64,@pizza.ImageUrl" style="width:100%" class="img" alt=""/>
			</div>
			<div class="text p-4">
				<p style="font-size: 16px; font-weight: bold; color: white">@pizza.Name</p>
				<p>@pizza.Description</p>
				<select name="size" id="size-@pizza.Id" style="width: 300px;" onchange="handleSizeChange('@pizza.Id')">
					@foreach (var pizzaViewModel in @pizza.Sizes)
					{
						<option value="@pizzaViewModel.Id">@pizzaViewModel.Size1</option>
					}
				</select>
				<br><br>
				<select name="cakebase" id="cakebase-@pizza.Id" style="width: 300px;" onchange="handleCakeBaseChange('@pizza.Id')">
					@foreach (var pizzaViewModel in @pizza.CakeBases)
					{
						<option value="@pizzaViewModel.Id">@pizzaViewModel.CakeBase</option>
					}
				</select>
				<br><br>
				<button id="addtocart-@pizza.Id" class="btn btn-white btn-outline-white" onclick="addToCart(@pizza.Id)">Add to Cart &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; @String.Format("{0:N0} đ", pizza.Total)</button>
			</div>
		</div>
	}
    </div>
</div>
</section>
	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
	<div id="successModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
				<div class="modal-body" style="color: green; text-align: center; font-size: large;">
					Pizza added to cart successfully!
				</div>
            </div>
        </div>
    </div>

	<div id="failModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
				<div class="modal-body" style="color: red; text-align: center; font-size: large;">
					Error adding pizza to cart!
				</div>
            </div>
        </div>
    </div>
	
	<script>
		function handleSizeChange(pizzaId) {
			var size = $("#size-" + pizzaId).val();
			var data = {
				size: size,
				pizzaId: pizzaId
			};
			var newRow = ``;
			$.ajax({
				type: 'POST',
				beforeSend: function (xhr) {
					xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
				},
				url: '/Public/Menu?handler=ReloadPizzaBySize',
				data: data,
				success: function (response) {
					response.CakeBases.forEach(function (item) {
						newRow += `<option value="${item.Id}">${item.CakeBase}</option>`;
					});
					$("#cakebase-" + pizzaId).html(newRow);
					var total = response.Total;
					var newHtml = 'Add to Cart &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ' + total.toLocaleString('en-US') + ' đ';
					$("#addtocart-" + pizzaId).html(newHtml);
				},
				error: function (jqXHR, textStatus, errorThrown) {

					console.log(textStatus, errorThrown);
				}
			});
		}

		function handleCakeBaseChange(pizzaId) {
			var size = $("#size-" + pizzaId).val();
			var cakebase = $("#cakebase-" + pizzaId).val();
			var data = {
				size: size,
				pizzaId: pizzaId,
				cakebaseId: cakebase
			};
			var newRow = ``;
			$.ajax({
				type: 'POST',
				beforeSend: function (xhr) {
					xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
				},
				url: '/Public/Menu?handler=ReloadPizzaByCakeBase',
				data: data,
				success: function (response) {
					var total = response.Total;
					var newHtml = 'Add to Cart &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ' + total.toLocaleString('en-US') + ' đ';
					$("#addtocart-" + pizzaId).html(newHtml);
				},
				error: function (jqXHR, textStatus, errorThrown) {

					console.log(textStatus, errorThrown);
				}
			});
		}

		function addToCart(pizzaId) {
		var size = $("#size-" + pizzaId).val();
		var cakebase = $("#cakebase-" + pizzaId).val();
        $.ajax({
            type: 'POST',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            url: '/Public/Menu?handler=AddToCart',
            data: { 
				pizzaId: pizzaId,
				size: size,
				cakebase: cakebase
			},
            success: function (response) {
                if(response == 'Item added to cart successfully!'){
					$('#successModal').modal('show');
					setTimeout(function () {
						$('#successModal').modal('hide');
					}, 800);
				}
				else{
					$('#failModal').modal('show');
					setTimeout(function () {
						$('#failModal').modal('hide');
					}, 800);
				}
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error adding item to cart:", textStatus, errorThrown);
            }
        });
    }

	</script>
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.easing.1.3.js"></script>
	<script src="~/js/jquery.waypoints.min.js"></script>
	<script src="~/js/jquery.stellar.min.js"></script>
	<script src="~/js/owl.carousel.min.js"></script>
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/aos.js"></script>
	<script src="~/js/jquery.animateNumber.min.js"></script>
	<script src="~/js/bootstrap-datepicker.js"></script>
	<script src="~/js/jquery.timepicker.min.js"></script>
	<script src="~/js/scrollax.min.js"></script>
	<script src="~/js/google-map.js"></script>
	<script src="~/js/main.js"></script>
</body>
</html>