@page
@model Web_PizzaShop.Pages.Admin.OrderViewModel
@{
	Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Demo CSS Files -->
	<link type="text/css" href="~/css/demo-files/ecommerce-order-view.css" rel="stylesheet" />

</head>
<body>
	<div id="body-container">
		<div id="left-column" class="">
			<div id="mainnav">
				<ul class="mainnav">
					<li class="menu-item-top">
						<a href="index.html" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-grid-big"></span>
							</span>
							<span class="main-menu-text">Dashboard</span>
						</a>
					</li>
					<li class="menu-item-top selected">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-dollar"></span>
							</span>
							<span class="main-menu-text">Dashboard</span>
						</a>
						<ul>
							<li><a href="Dashboard">Dashboard</a></li>
							<li><a href="OrderList">Order List</a></li>
							<li><a href="ProductList">Product List</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- END Left Column -->
		<!-- START Right Column -->
		<div id="right-column">
			<div class="right-column-content container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<ol class="breadcrumb">
							<li>
								<a href="OrderList">Order List</a>
							</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h1>
							<span aria-hidden="true" class="icon icon-dollar"></span>
							<span class="main-text">
								Order View
							</span>
						</h1>
					</div>
					<div class="col-md-6">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<!-- START Block: Order View -->
						<div class="block">
							<div class="block-heading">
								<div class="main-text h2">
									Order @Model.order.OrderId - 
								</div>
							</div>
							<div class="block-content-outer">
								<div class="block-content-inner">
									<div id="order-view-content" class="table-responsive">
										<ul id="order-view-tabs" class="nav nav-tabs tabs-left">
											<li class="active"><a href="#order-view-tabs-order-details" data-toggle="tab">Order Details</a></li>
											<li><a href="#order-view-tabs-payment" data-toggle="tab">Payment</a></li>
											<li><a href="#order-view-tabs-products" data-toggle="tab">Product List</a></li>
										</ul>
										<div class="tab-content">
											<div id="order-view-tabs-order-details" class="tab-pane active">
												<table class="table table-hover">
													<tbody>
														<tr>
															<td class="col-md-3">Order ID:</td>
															<td class="col-md-9">#@Model.order.OrderId</td>
														</tr>
														<tr>
															<td class="col-md-3">Customer Name:</td>
															<td class="col-md-9">@Model.order.User.UserName</td>
														</tr>
														<tr>
															<td class="col-md-3">Email:</td>
															<td class="col-md-9">@Model.order.User.Email</td>
														</tr>
														<tr>
															<td class="col-md-3">Telephone:</td>
															<td class="col-md-9">@Model.order.PhoneNumber</td>
														</tr>
														<tr>
															<td class="col-md-3">Total:</td>
															<td class="col-md-9">@String.Format("{0:N0} đ", @Model.order.OrderTotal)</td>
														</tr>
														<tr>
															<td class="col-md-3">Order Status:</td>
															@if(Model.order.State == "Completed")
																{
																	<td>
																		<span class="label label-success">Completed</span>
																	</td>
																}
																else if(Model.order.State == "Cancelled")
																{
																	<td>
																		<span class="label label-danger">Cancelled</span>
																	</td>
																}
																else if(Model.order.State == "Processing")
																{
																	<td>
																		<span class="label label-primary">Processing</span>
																	</td>
																}
																else
																{
																	<td>
																		<span class="label label-success">Completed</span>
																	</td>
																}
														</tr>
														<tr>
															<td class="col-md-3">Date Created:</td>
															<td class="col-md-9">@Model.order.CreatedAt?.ToString("dd/MM/yyyy")</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="tab-pane" id="order-view-tabs-payment">
												<table class="table table-hover">
													<tbody>
														<tr>
															<td class="col-md-3">Customer Name:</td>
															<td class="col-md-9">@Model.order.User.UserName</td>
														</tr>
														<tr>
															<td class="col-md-3">Address:</td>
															<td class="col-md-9">@Model.order.AddressLine</td>
														</tr>
														<tr>
															<td class="col-md-3">Payment Method:</td>
															<td class="col-md-9">Cash On Delivery</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="tab-pane" id="order-view-tabs-products">
												<table class="table table-bordered table-hover">
													<thead>
														<tr>
															<th class="text-center">Pizza</th>
															<th class="text-center">Size</th>
															<th class="text-center">Cake Base</th>
															<th class="text-center">Quantity</th>
															<th class="text-center">Total</th>
														</tr>
													</thead>
													<tbody>
													@{	
														double? total = 0;
														foreach(var _po in @Model.pizzaOrders)
														{
															<tr>
																<td class="text-center">@_po.Pizza.Name</td>
																<td class="text-center">@_po.Size.Size1</td>
																<td class="text-center">@_po.CakeBase.CakeBase</td>
																<td class="text-center">@_po.Amount</td>
																<td class="text-center">@String.Format("{0:N0} đ", _po.Price)</td>
															</tr>
															total += _po.Price;
														}
													}
														<tr>
															<td class="text-center" colspan="4">Total:</td>
															<td class="text-center">@String.Format("{0:N0} đ", total)</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END Block: Order View -->

					</div>
				</div>
			</div>

				

		</div>
		<!-- END Right Column -->

	</div>
	<!-- END Body Container -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Required JS Files -->
	<script type="text/javascript" src="~/js/required/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
	<script type="text/javascript" src="~/js/required/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery.easing.1.3-min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/retina.min.js"></script>
	<script type="text/javascript" src="~/js/required/icheck.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="~/js/required/circloid-functions.js"></script>

	<!-- Optional JS Files -->
	<!-- add optional JS plugin files here -->
	<!-- REQUIRED: User Editable JS Files -->
	<script type="text/javascript" src="~/js/script.js"></script>
	<!-- add additional User Editable files here -->
</body>
</html>