@page
@model Web_PizzaShop.Pages.Admin.OrderListModel
@{
	Layout = "_AdminLayout";
}
@{
	Func<int?,string> generateUrl = (int? _pagenumber)  => {
		var routeValues = new
		{
			OrderId = Request.Query["OrderId"],
			CustomerName = Request.Query["CustomerName"],
			Email = Request.Query["Email"],
			Status = Request.Query["Status"],
			Total = Request.Query["Total"],
			pageNumber = _pagenumber
		};
        return Url.Page("OrderList", routeValues);
    };

	var paging = new Web_PizzaShop.Helpers.PagingModel()
			{
				currentPage = Model.currentPage,
				countPages = Model.countPages,
				generalUrl = generateUrl
			};
}
@Html.AntiForgeryToken()
<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
	<!-- START Body Container -->
	<div id="body-container">
		<!-- START Left Column -->
		<div id="left-column" class="">
			<!-- NOTE TO READER: Accepts the following class(es) "menu-icon-only", "fixed" class -->
			<div id="mainnav">
				<ul class="mainnav">
					<!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
					<li class="menu-item-top">
						<a href="index.html" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-grid-big"></span>
							</span>
							<span class="main-menu-text">Dashboard</span>
						</a>
					</li>
					<li class="menu-item-top selected">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-dollar"></span>
							</span>
							<span class="main-menu-text">Dashboard</span>
						</a>
						<ul>
							<li><a href="Dashboard">Dashboard</a></li>
							<li><a href="OrderList">Order List</a></li>
							<li><a href="ProductList">Product List</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- END Left Column -->
		<!-- START Right Column -->
		<div id="right-column">
			<div class="right-column-content container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<ol class="breadcrumb">
							<li>
								<a href="Dashboard">Dashboard</a>
							</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h1>
							<span aria-hidden="true" class="icon icon-dollar"></span>
							<span class="main-text">
								Order List
							</span>
						</h1>
					</div>
					<div class="col-md-6">

						<!-- START Main Buttons -->
						<div class="page-heading-controls">
							<button type="button" onclick="DeleteOrder()" role="button" class="btn btn-danger">Delete</button>
						</div>
					</div>
					<!-- END Main Buttons -->

				</div>
				<div class="row">
					<div class="col-md-12">

						<!-- START Block: Orders -->
						<div class="block">
							<div class="block-heading">
								<div class="main-text h2">
									Orders
								</div>
							</div>
							<div class="block-content-outer">
								<div class="block-content-inner">
									<div class="table-responsive">
										<form role="form">
											<table class="table table-condensed table-striped table-bordered table-hover order-list">
												<thead>
													<tr>
														<th class="text-center">
															<input type="checkbox" class="list-select-all order-checkbox">
														</th>
														<th class="text-center col-xs-1">Order ID</th>
														<th class="text-center col-xs-2">Customer</th>
														<th class="text-center col-xs-2">Email</th>
														<th class="text-center col-xs-2">Status</th>
														<th class="text-center col-xs-1">Total Order</th>
														<th class="text-center col-xs-2">Date Create</th>
														<th class="text-center col-xs-2">Action</th>
													</tr>
												</thead>
												<tbody>
													<form>
														<tr>
															<td></td>
															<td>
																<input type="text" class="text-center form-control input-sm text-center" name="OrderId" placeholder="ID" size="2" />
															</td>
															<td>
																<input type="text" class="text-center form-control input-sm" name="CustomerName" placeholder="Customer Name" size="5" />
															</td>
															<td>
																<input type="text" class="text-center form-control input-sm text-center" name="Email" placeholder="Email" size="2" />
															</td>
															<td>
																<select id="input-demo-v" class="text-center form-control" name="Status">
																	<option value="">Status</option>
																	<option value="Completed">Completed</option>
																	<option value="Cancelled">Cancelled</option>
																	<option value="Processing">Processing</option>
																</select>
															</td>
															<td>
																<input type="text" class="form-control input-sm text-center" name="Total" placeholder="Total" size="3" />
															</td>
															<td>
																<div id="date-added-from" class="input-group" >
																	<input type="date" name="FromDate" style="width: 185%;height: 30px;">
																</div>
																<div id="date-added-to" class="input-group">
																	<input type="date" name="ToDate" style="width: 185%; height: 30px;">
																</div>
															</td>
															<td class="text-center">
																<button type="submit" class="btn btn-default">Filter</button>
															</td>
														</tr>
													</form>
														@{
															foreach(var order in @Model.orders){
																<tr>
																	<td class="text-center">
																		<input value="@order.OrderId" type="checkbox" class="order-checkbox">
																	</td>
																	<td class="text-center">@order.OrderId</td>
																	<td class="text-center">@order.User.UserName</td>
																	<td class="text-center">@order.User.Email</td>
																	@if(@order.State == "Completed")
																	{
																		<td class="text-center">
																			<span class="label label-success">Completed</span>
																		</td>
																	}
																	else if(@order.State == "Cancelled")
																	{
																		<td class="text-center">
																			<span class="label label-danger">Cancelled</span>
																		</td>
																	}
																	else if(@order.State == "Processing")
																	{
																		<td class="text-center">
																			<span class="label label-primary">Processing</span>
																		</td>
																	}
																	else
																	{
																		<td class="text-center">
																			<span class="label label-success">Completed</span>
																		</td>
																	}
																	<td class="text-center">@String.Format("{0:N0} đ", order.OrderTotal)</td>
																	<td class="text-center">@order.CreatedAt?.ToString("dd/MM/yyyy")</td>
																	<td class="text-center">
																		<a asp-page="OrderView" asp-route-itemid="@order.OrderId"
																			class="btn btn-primary">View</a>
																	</td>
																</tr>
															}
														}
													</tbody>
											</table>
											<partial id="paginationContainer" name="_Paging" model="@paging">
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- END Block: Orders -->

					</div>
				</div>
			</div>

				

		</div>
		<!-- END Right Column -->

	</div>
	    <div id="error_size" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">        
                <div class="modal-body" style="color: red; text-align: center; font-size: large;">
                    Please choose order to delete
                </div>
            </div>
        </div>
    </div>

	<script>
		function updateSelectedIds() {
				var checkedCheckboxes = document.querySelectorAll('.order-checkbox:checked');
				var checkedIds = Array.from(checkedCheckboxes).map(function (checkbox) {
					return checkbox.value;
				});

				var Ids = checkedIds.join(',');
				return Ids;
			}

		function DeleteOrder() {
			var selectedSizeId = updateSelectedIds();
			if (selectedSizeId === "") {
				$('#error_size').modal('show');
				setTimeout(function () {
					$('#error_size').modal('hide');
				}, 2500);
			} 
			else {
				$.ajax({
					type: 'POST',
					beforeSend: function (xhr) {
						xhr.setRequestHeader("XSRF-TOKEN", $('input:hidden[name="__RequestVerificationToken"]').val());
					},
					url: '/Admin/OrderList?handler=DeleteOrder',
					data: {
						sizeId: selectedSizeId,
					},
					success: function (response) {
    var table = $('.order-list');
    var tableBody = table.find('tbody');
    var newRow = '';

    response.forEach(function (item) {
        newRow += `
            <tr>
                <td class="text-center">
                    <input value="${item.OrderId}" type="checkbox" class="order-checkbox">
                </td>
                <td class="text-center">${item.OrderId}</td>
                <td class="text-center">${item.User.UserName}</td>
                <td class="text-center">${item.User.Email}</td>`;
                
        if (item.State === "Completed") {
            newRow += `
                <td class="text-center">
                    <span class="label label-success">Completed</span>
                </td>`;
        } else if (item.State === "Cancelled") {
            newRow += `
                <td class="text-center">
                    <span class="label label-danger">Cancelled</span>
                </td>`;
        } else if (item.State === "Processing") {
            newRow += `
                <td class="text-center">
                    <span class="label label-primary">Processing</span>
                </td>`;
        } else {
            newRow += `
                <td class="text-center">
                    <span class="label label-success">Completed</span>
                </td>`;
        }

        newRow += `
                <td class="text-center">${new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(item.OrderTotal)}</td>
                <td class="text-center">${item.CreatedAt ? new Date(item.CreatedAt).toLocaleDateString('vi-VN') : ''}</td>
                <td class="text-center">
                    <a asp-page="OrderView" asp-route-itemid="${item.OrderId}" class="btn btn-primary">View</a>
                </td>
            </tr>`;
    });

    var newForm = `
        <form>
            <tr>
                <td></td>
                <td>
                    <input type="text" class="text-center form-control input-sm text-center" name="OrderId" placeholder="ID" size="2" />
                </td>
                <td>
                    <input type="text" class="text-center form-control input-sm" name="CustomerName" placeholder="Customer Name" size="5" />
                </td>
                <td>
                    <input type="text" class="text-center form-control input-sm text-center" name="Email" placeholder="Email" size="2" />
                </td>
                <td>
                    <select id="input-demo-v" class="text-center form-control" name="Status">
                        <option value="">Status</option>
                        <option value="Completed">Completed</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Processing">Processing</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-center" name="Total" placeholder="Total" size="3" />
                </td>
                <td>
                    <div id="date-added-from" class="input-group" >
                        <input type="date" name="FromDate" style="width: 185%;height: 30px;">
                    </div>
                    <div id="date-added-to" class="input-group">
                        <input type="date" name="ToDate" style="width: 185%; height: 30px;">
                    </div>
                </td>
                <td class="text-center">
                    <button type="submit" class="btn btn-default">Filter</button>
                </td>
            </tr>
        </form>`;

    // Thêm form mới và dữ liệu vào tbody
    tableBody.html(newForm + newRow);
},
				error: function (error) {
					console.error(error);
				}
			});
		}
	}

	</script>

	<!-- END Body Container -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Required JS Files -->
	<script type="text/javascript" src="~/js/required/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
	<script type="text/javascript" src="~/js/required/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery.easing.1.3-min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/retina.min.js"></script>
	<script type="text/javascript" src="~/js/required/icheck.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="~/js/required/circloid-functions.js"></script>

	<!-- Optional JS Files -->
	<script type="text/javascript" src="~/js/optional/misc/moment.js"></script>
	<script type="text/javascript" src="~/js/optional/bootstrap-datetimepicker.min.js"></script>
	<!-- add optional JS plugin files here -->
	<!-- REQUIRED: User Editable JS Files -->
	<script type="text/javascript" src="~/js/script.js"></script>
	<!-- add additional User Editable files here -->
	<!-- Demo JS Files -->
	<script type="text/javascript" src="~/js/demo-files/ecommerce-order-list.js"></script>
</body>
</html>