@page
@model Web_PizzaShop.Pages.Admin.ProductListModel
@{
	Layout = "_AdminLayout";
}
@{
	Func<int?, string> generateUrl = (int? _pageNumber) =>
	{
		var routeValues = new
		{
			PizzaName = Request.Query["PizzaName"],
			Description = Request.Query["Description"],
			Price = Request.Query["Price"],
			Hot = Request.Query["Hot"],
			Category = Request.Query["Category"],
			DateCreate = Request.Query["DateCreate"],
			DateDelete = Request.Query["DateDelete"],
			pageNumber = _pageNumber
		};

		return Url.Page("ProductList", routeValues);
	};

	var paging = new Web_PizzaShop.Helpers.PagingModel()
			{
				currentPage = Model.currentPage,
				countPages = Model.countPages,
				generalUrl = generateUrl
			};
}
<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Demo CSS Files -->
	<link type="text/css" href="~/css/demo-files/ecommerce-product-list.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
	<!-- START Body Container -->
	<div id="body-container">

		<!-- START Left Column -->
		<div id="left-column" class="">
			<!-- NOTE TO READER: Accepts the following class(es) "menu-icon-only", "fixed" class -->
			<div id="mainnav">
				<ul class="mainnav">
					<!-- NOTE TO READER: Accepts the following class(es) "animate" class -->
					<li class="menu-item-top">
						<a href="index.html" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-grid-big"></span>
							</span>
							<span class="main-menu-text">Dashboard</span>
						</a>
					</li>
					<li class="menu-item-top selected">
						<a href="#" class="top">
							<span class="main-menu-icon">
								<span aria-hidden="true" class="icon icon-dollar"></span>
							</span>
							<span class="main-menu-text">Dashboard</span>
						</a>
						<ul>
							<li><a href="Dashboard">Dashboard</a></li>
							<li><a href="OrderList">Order List</a></li>
							<li><a href="ProductList">Pizza List</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- END Left Column -->
		<!-- START Right Column -->
		<div id="right-column">
			<div class="right-column-content container-fluid">
				<div class="row">
					<div class="col-xs-12">
						<ol class="breadcrumb">
							<li>
								<a href="Dashboard">Dashboard</a>
							</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h1>
							<span aria-hidden="true" class="icon icon-dollar"></span>
							<span class="main-text">
								Pizza List
							</span>
						</h1>
					</div>
					<div class="col-md-6">
						<!-- START Main Buttons Set 1 -->
						<div class="page-heading-controls" style="display: flex; justify-content: right;">
							<a href="AddProduct" role="button" class="btn btn-primary" style="margin-right: 10px;">Add Product</a>
							<form id="deleteForm" method="post" asp-page-handler="DeletePizzas">
								<input type="hidden" id="selectedPizzaIds" name="selectedPizzaIds" />
								<button type="submit" role="button" class="btn btn-danger">Delete</button>
							</form>
						</div>
						<!-- END Main Buttons Set 1 -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<!-- START Block: Product List -->
						<div class="block">
							<div class="block-content-outer">
								<div class="block-content-inner">
									<div class="table-responsive">
										<form role="form">
											<table
												class="table table-condensed table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="text-center">
															<input type="checkbox" class="list-select-all">
														</th>
														<th class="text-center col-xs-1">Image</th>
														<th class="text-center col-xs-2">Pizza Name</th>
														<th class="text-center col-xs-3">Description</th>
														<th class="text-center col-xs-1">Price</th>
														<th class="text-center col-xs-1">Hot</th>
														<th class="text-center col-xs-2">Category</th>
														<th class="text-center col-xs-1">Date Create</th>
														<th class="text-center col-xs-1">Date Delete</th>
														<th class="text-center col-xs-1">Action</th>
													</tr>
												</thead>
												<tbody>
													<form asp-page="Admin/ProductList" method="get">
														<tr>
															<td></td>
															<td></td>
															<td>
																<input type="text" name="PizzaName"
																	class="form-control input-sm text-center"
																	placeholder="Pizza Name" size="5" />
															</td>
															<td>
																<input type="text" name="Description"
																	class="form-control input-sm text-center"
																	placeholder="Description" size="4" />
															</td>
															<td>
																<input type="text" name="Price"
																	class="form-control input-sm text-center"
																	placeholder="Price" size="3" />
															</td>
															<td>
																<select name="Hot" class="form-control">
																	<option value="">Hot</option>
																	<option value="true">True</option>
																	<option value="false">False</option>
																</select>
															</td>
															<td>
																<select name="Category" class="form-control">
																	<option value="">Category</option>
																	@{
																		foreach (var cate in @Model.categories)
																		{
																			<option value="@cate.Id">@cate.Name</option>
																		}
																	}
																</select>
															</td>
															<td class="text-center">
																<input type="date" name="DateCreate" id="datecreate">
															</td>
															<td class="text-center">
																<input type="date" name="DateDelete" id="datedelete">
															</td>
															<td class="text-center">
																<button type="submit" class="btn btn-default">
																	Filter
																</button>
															</td>
														</tr>
													</form>
													@{
														foreach (var pizza in @Model.pizzas)
														{
															<tr>
																<td class="text-center">
																	<input value="@pizza.Id" type="checkbox"
																		class="pizza-checkbox">
																</td>
																<td class="text-center">
																	<img src="data:image/jpeg;base64,@pizza.ImageUrl" width="60" height="45" class=""
																		alt="" />
																</td>
																<td class="text-left">@pizza.Name</td>
																<td class="text-left">@pizza.Description</td>
																<td class="text-center">@String.Format("{0:N0} đ", pizza.Price)
																</td>
																<td class="text-center">@pizza.IsPizzaOfTheWeek</td>
																<td class="text-center">@pizza.Categories.Name</td>
																<td class="text-center">@pizza.CreatedAt?.ToString("dd/MM/yyyy")
																</td>
																<td class="text-center">@pizza.DeletedAt?.ToString("dd/MM/yyyy")
																</td>
																<td class="text-center">
																	<a asp-page="ProductEdit" asp-route-itemid="@pizza.Id"
																		class="btn btn-primary">Edit</a>
																</td>
															</tr>
														}
													}
												</tbody>
											</table>
											<partial name="_Paging" model="@paging">
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- END Block: Product List -->

					</div>
				</div>
			</div>
		</div>
		<!-- END Right Column -->

	</div>
	<!-- END Body Container -->

	<div id="successModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				@if (@TempData["msg"] == "Delete pizza successfully !!")
				{
					<div class="modal-body" style="color: green; text-align: center; font-size: large;">
						@TempData["msg"]
					</div>
				}
				else
				{
					<div class="modal-body" style="color: red; text-align: center;">
						@TempData["msg"]
					</div>
				}
			</div>
		</div>
	</div>

	<div id="failModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body" style="color: red; text-align: center;">
					Please choose product to delete !!
				</div>
			</div>
		</div>
	</div>

	@if (@TempData["msg"] != null)
	{
		<script>
			$(document).ready(function () {
				$('#successModal').modal('show');

				setTimeout(function () {
					$('#successModal').modal('hide');
				}, 2500);
			});
		</script>
	}

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var form = document.getElementById('deleteForm');

			form.addEventListener('submit', function (event) {
				event.preventDefault();

				updateSelectedIds();

				var selectedIds = document.getElementById('selectedPizzaIds').value;
				if (selectedIds === "") {
					$('#failModal').modal('show');
					setTimeout(function () {
						$('#failModal').modal('hide');
					}, 2500);
				} else {
					form.submit();
				}
			});

			function updateSelectedIds() {
				var checkedCheckboxes = document.querySelectorAll('.pizza-checkbox:checked');
				var checkedIds = Array.from(checkedCheckboxes).map(function (checkbox) {
					return checkbox.value;
				});

				document.getElementById('selectedPizzaIds').value = checkedIds.join(',');
			}
		});

	</script>

	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Required JS Files -->
	<script type="text/javascript" src="~/js/required/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
	<script type="text/javascript" src="~/js/required/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery.easing.1.3-min.js"></script>
	<script type="text/javascript" src="~/js/required/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/retina.min.js"></script>
	<script type="text/javascript" src="~/js/required/icheck.min.js"></script>
	<script type="text/javascript" src="~/js/required/misc/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="~/js/required/circloid-functions.js"></script>

	<!-- Optional JS Files -->
	<script type="text/javascript" src="~/js/optional/misc/moment.js"></script>
	<script type="text/javascript" src="~/js/optional/bootstrap-datetimepicker.min.js"></script>
	<!-- add optional JS plugin files here -->
	<!-- REQUIRED: User Editable JS Files -->
	<script type="text/javascript" src="~/js/script.js"></script>
	<!-- add additional User Editable files here -->
</body>

</html>